{% extends 'base.html' %}

{% block conteudo %}

  <h2>Entre em contato</h2>
  <br>
  {% with mensagens = get_flashed_messages() %}
  {% if mensagens %}
    {% for mensagem in mensagens %}
      {{ mensagem }}
    {% endfor %}
    {% endif %}
    {% endwith %}
    {%if dados_formulario%}
        <p>dados_formulario:</p>
        <p>Nome: {{dados_formulario.nome}}</p>
        <p>Email: {{dados_formulario.email}}</p>
        <p>Telefone: {{dados_formulario.telefone}}</p>
        <p>Conteudo: {{dados_formulario.conteudo}}</p>
    {% endif %}
  <form action="" method="post">
    {{formulario.csrf_token}}
    <label for="nome">Nome:</label>
    {{formulario.nome}}

    <label for="email">Email:</label>
    {{formulario.email}}

    <label for="telefone">Telefone:</label>
    {{formulario.telefone}}

    <label for="conteudo">Conteúdo:</label>
    {{formulario.conteudo}}

    {{formulario.enviar}}
  </form>

  {% if formulario.nome.data %}
  <ul class="errors">
  {% for data in formulario.nome.data %}
      <li>{{ data }}</li>
  {% endfor %}
  </ul>
{% endif %}

{% endblock %}
