{% extends "base.html" %}

{% block conteudo %}
<section id="projeto-destruicao-global" class="container mt-4">
    <h2>Projeto de Destruição Global com Meteoros</h2>
    <div class="row">
        <div class="col-md-8 mb-4">
            <img src="https://th.bing.com/th/id/OIP.D1fCrX4mEmS65EhfzDHxBAHaJ8?pid=ImgDet&rs=1" class="img-fluid" alt="Meteoro de Destruição">
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Projeto de Destruição Global com Meteoros</h3>
                    <p class="card-text">Preparamos um plano ousado para causar uma devastação global usando uma chuva de meteoros. Nossa missão é trazer caos e destruição aos quatro cantos do mundo. Mas isso não sera possivel se nos tentarmos sozinhos, precisamos do maximo de pessoas posiveis para eliminar o maximo de resistencia possivel. Junte-se a nós na busca pelo fim!</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
